{% extends 'base.html' %}

{% block title %}
Калькулятор баннера
{% endblock %}
{% block body %}
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Калькулятор баннера</h2>
    </div>
    <div class=" h-100 d-flex justify-content-center align-items-center">
        <form class="needs-validation " action="" method="post">
            {{ form.hidden_tag() }}
            <div class="container d-grid gap-3">
                <div class="row p-2 bg-light border">
                    <div class="col p-2 d-flex align-items-center">
                        {{ form.material.label(class="form-label fs-4 mb-0") }}
                    </div>
                    <div class="col p-2">
                        {{ form.material(class='form-select fs-4') }}
                    </div>
                </div>
                <div class="row p-2 bg-light border">
                    <div class="col p-2 d-flex align-items-center">
                        {{ form.print_quality.label(class="form-label fs-4 mb-0") }}
                    </div>
                    <div class="col p-2">
                        {{ form.print_quality(class='form-select fs-4') }}
                    </div>
                </div>
                <div class="row p-2 bg-light border">
                    <div class="col col-6 p-2 d-flex align-items-center">
                        {{ form.processing.label(class="form-label fs-4 md-0") }}
                    </div>
                    <div class="col col-6 p-2">
                        {{ form.processing(class='form-select fs-4') }}
                    </div>
                    <div class="col col-4 p-2" id="block_ps_label" >
                        <label class="fs-4 mb-0">Стороны обработки:</label>
                    </div>
                    <div class="col col-8 p-2" style="justify-content: flex-end; align-items: center; display: flex;" id="block_ps" >
                        <div class="form-check form-check-inline fs-4" id="left_side_id">
                          {{ form.left_side(class="form-check-input") }}
                          {{ form.left_side.label(class="form-check-label") }}
                        </div>
                        <div class="form-check form-check-inline fs-4" id="right_side_id">
                          {{ form.right_side(class="form-check-input") }}
                          {{ form.right_side.label(class="form-check-label") }}
                        </div>
                        <div class="form-check form-check-inline fs-4" id="top_side_id">
                          {{ form.top_side(class="form-check-input") }}
                          {{ form.top_side.label(class="form-check-label") }}
                        </div>
                        <div class="form-check form-check-inline fs-4" id="bottom_side_id">
                          {{ form.bottom_side(class="form-check-input") }}
                          {{ form.bottom_side.label(class="form-check-label") }}
                        </div>
                        <div class="form-check form-check-inline fs-4" id="all_sides_id">
                          {{ form.all_sides(class="form-check-input") }}
                          {{ form.all_sides.label(class="form-check-label") }}
                        </div>
                        <div class="form-check form-check-inline fs-4" id="corners_id">
                          {{ form.corners(class="form-check-input") }}
                          {{ form.corners.label(class="form-check-label") }}
                        </div>
                    </div>
                    <div class="col p-2" id="block_ws_label">
                        {{ form.welding_step.label(class="form-label fs-4 mb-0") }}
                    </div>
                    <div class="col p-2" id="block_ws">
                        {{ form.welding_step(class='form-select fs-4') }} 
                    </div>
                </div>
                {% if form.left_side.errors %}
                    <div class="alert alert-danger" role="alert">
                        <p class="fs-4 text-center">{{ form.left_side.errors[0] }}</p>
                    </div>
                {% endif %}
                <div class="row row-cols-2 p-2 bg-light border">
                    <div class="col-12 text-center">
                        <label class="form-label fs-4">Размеры баннера</label>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-2 pt-2 pb-2">
                        {{ form.length.label(class="form-label fs-4") }}
                    </div>
                    <div class="col-8">
                        {{ form.length(class='form-control fs-4') }}
                    </div>
                    <div class="col-2">
                        <label class="fs-4"> мм. </label>
                    </div>
                    <div class="col-2 pt-2 pb-2">
                        {{ form.width.label(class="form-label fs-4") }}
                    </div>
                    <div class="col-8">
                        {{ form.width(class='form-control fs-4') }}
                    </div>
                    <div class="col-2">
                        <label class="fs-4"> мм. </label>
                    </div>
                </div>
                <div class="row row-cols-2 p-2 bg-light border">
                    <div class="col-2 pt-2 pb-2">
                        {{ form.quantity.label(class="form-label fs-4") }}
                    </div>
                    <div class="col-8">
                        {{ form.quantity(class='form-control fs-4') }}
                    </div>
                    <div class="col-2">
                        <label class="fs-4"> шт. </label>
                    </div>
                </div>
                {{ form.submit(class='btn btn-primary fs-4')}}
            </div>
        </form>
    </div>
  </main>
</div>

<!-- скрипт для изменения качества при выборе материала "Сетка"  -->
<script>
    let material_select = document.getElementById('material')
    let print_quality_select = document.getElementById('print_quality')

    material_select.onchange = function() {
        state = material_select.value;
        fetch('/banner/material/' + state).then(function(response) {
            response.json().then(function(data) {
                let optionHTML = '';
                for (let choice of data.choices) {
                    optionHTML +='<option value="' + choice + '">' + choice + '</option>';
                }
                print_quality_select.innerHTML = optionHTML;
        });
    });
    }
</script>

<!-- Скрипт изменения чекбоксов сторон и выбора шага обработки при разных выборах селекта "Обработка" -->
<script>
    let processing_select = document.getElementById('processing')
    let step_select = document.getElementById('welding_step')

    processing_select.onchange = function() {
        let state = processing_select.value;
        fetch('/banner/process/' + state).then(function(response) {
            response.json().then(function(data) {
                document.getElementById("block_ps").hidden = data.hide_choices;
                document.getElementById("block_ps_label").hidden = data.hide_choices;
                for (let id of data.choices) {
                    document.getElementById(id[0]).hidden = id[1];
                }
                let optionHTMLsteps = '';
                for (let step of data.steps) {
                    if (step === 'Недоступно') {
                        document.getElementById("block_ws").style.display = 'none';
                        document.getElementById("block_ws_label").style.display = 'none';
                    } else {
                        document.getElementById("block_ws").style.display = 'block';
                        document.getElementById("block_ws_label").style.display = 'block';
                        optionHTMLsteps += '<option value="' + step + '">' + step + '</option>';
                    }
                }
                step_select.innerHTML = optionHTMLsteps;
            });
         });
    }
</script>

<!-- Скрипт для сохраниения такого же окна при отправке формы и не прохождению валидации -->
<script>
    window.addEventListener('DOMContentLoaded', function(){
        let step_select = document.getElementById('welding_step');
        let processing_select = document.getElementById('processing');
        let state = processing_select.value;
        fetch('/banner/process/' + state).then(function(response) {
            response.json().then(function(data) {
                document.getElementById("block_ps").hidden = data.hide_choices;
                document.getElementById("block_ps_label").hidden = data.hide_choices;
                for (let id of data.choices) {
                    document.getElementById(id[0]).hidden = id[1];
                }
                let optionHTMLsteps = '';
                for (let step of data.steps) {
                    if (step === 'Недоступно') {
                        document.getElementById("block_ws").style.display = 'none';
                        document.getElementById("block_ws_label").style.display = 'none';
                    } else {
                        document.getElementById("block_ws").style.display = 'block';
                        document.getElementById("block_ws_label").style.display = 'block';
                        if (default_step === step) {
                            optionHTMLsteps += '<option value="' + step + '" selected>' + step + '</option>';
                        } else {
                             optionHTMLsteps += '<option value="' + step + '">' + step + '</option>';
                        }
                    }
                }
                step_select.innerHTML = optionHTMLsteps;
            });
         });
    });
</script>

<!-- Скрипт для получения шага обработки при отправке формы и не прохождении валидации -->
{% if form.welding_step.errors %}
<script>
    const default_step = "{{ form.welding_step.errors[0] }}"
</script>
{% endif %}

<!-- Скрипт для убирания галочек лево право верх низ при выборе все стороны -->
<script type="text/javascript">
    $(function() {
      // Добавляем обработчик изменений поля all_sides
      $('#all_sides').change(function() {
        var isChecked = $(this).is(':checked');
  
        // Если галочка установлена, отключаем другие поля, иначе включаем их обратно
        $('#left_side, #right_side, #top_side, #bottom_side, #corners')
          .prop('checked', false);
  
        // Если нет других выбранных полей, отменяем выбор all_sides
        if (!isChecked &&
            !$('#left_side').is(':checked') &&
            !$('#right_side').is(':checked') &&
            !$('#top_side').is(':checked') &&
            !$('#bottom_side').is(':checked') &&
            !$('#corners').is(':checked')) {
          $(this).prop('checked', true);
        }
      });
  
      // Добавляем обработчик изменений других полей
      $('#left_side, #right_side, #top_side, #bottom_side, #corners')
        .not('#all_sides')
        .change(function() {
          // Если есть другие выбранные поля, снимаем выбор с поля all_sides
          if ($('#left_side').is(':checked') ||
              $('#right_side').is(':checked') ||
              $('#top_side').is(':checked') ||
              $('#bottom_side').is(':checked') ||
              $('#corners').is(':checked')) {
            $('#all_sides').prop('checked', false);
          }
        });
    });
</script>

<!-- Скрипт убирающий все галочки при изменении типа обработки -->
<script type="text/javascript">
    $(document).ready(function() {
      // Получаем поля
      const processingField = $("#{{ form.processing.id }}");
      const leftSideField = $("#{{ form.left_side.id }}");
      const rightSideField = $("#{{ form.right_side.id }}");
      const topSideField = $("#{{ form.top_side.id }}");
      const downSideField = $("#{{ form.bottom_side.id }}");
      const aroundSideField = $("#{{ form.all_sides.id }}");
      const cornerSideField = $("#{{ form.corners.id }}");
    
      // Функция для сброса значений других полей
      function resetOtherFields() {
        leftSideField.prop("checked", false);
        rightSideField.prop("checked", false);
        topSideField.prop("checked", false);
        downSideField.prop("checked", false);
        aroundSideField.prop("checked", false);
        cornerSideField.prop("checked", false);
      }
    
      // Слушаем изменения в поле "processing"
      processingField.change(function() {
        resetOtherFields();
      });
    });
</script>

<!-- Скрипт вызывающий модальное окно при нажатии кнопки расчета -->
{% if data %}
<script>
    $(document).ready(function() {
    $("#staticBackdrop").modal('show');
    });
</script>
{% endif %}
{% endblock %}

<!-- Модальное окно результатов расчета -->
{% block modal %}
    {% if data %}
    <div class="container">
        <div class="row p-2 mb-2 bg-light border">
            <div class="col-12 m-1 text-center">
                <strong>Материал:</strong> {{ data['material']['type'] }}
            </div>
            <div class="w-100"><hr></div>
            <div class="col">
                <strong>Себестоимость (шт.):</strong> {{ data['material']['price'] }} &#8381;
            </div>
            <div class="col">
                <strong>Стоимость продажи (шт.):</strong> {{ data['material']['sale_price'] }} &#8381;
            </div>
        </div>
        <div class="row p-2 mb-2 bg-light border">
            <div class="col-12 m-1 text-center">
                <strong>Обработка:</strong> {{ data['processing']['type'] }}
            </div>
            <div class="w-100"><hr></div>
            <div class="col text-center">
                <strong>Себестоимость (шт.):</strong> {{ data['processing']['price'] }} &#8381;
            </div>
            <div class="col text-center">
                <strong>Стоимость продажи (шт.):</strong> {{ data['processing']['sale_price'] }} &#8381;
            </div>
            {% if data['processing']['sides'] and  data['processing']['welding_step']%}
            <div class="w-100"><hr></div>
            <div class="col-8">
                <strong>Стороны обработки:</strong> {{ data['processing']['sides'] }}
            </div>
            <div class="col-4">
                <strong>Шаг сварки:</strong> {{ data['processing']['welding_step'] }}
            </div>
            {% elif data['processing']['sides'] %}
            <div class="w-100"><hr></div>
            <div class="col text-center">
                <strong>Стороны обработки:</strong> {{ data['processing']['sides'] }}
            </div>
            {% elif data['processing']['welding_step'] %}
            <div class="w-100"><hr></div>
            <div class="col-12 m-1 text-center">
                <strong>Шаг сварки:</strong> {{ data['processing']['welding_step'] }}
            </div>
            {% endif %}
        </div>
        <div class="row p-2 mb-2 bg-light border">
            <div class="col text-center">
                <strong>Длина:</strong> {{ data['length'] }} мм
            </div>
            <div class="col text-center">
                <strong>Ширина:</strong> {{ data['width'] }} мм
            </div>
            <div class="col text-center">
                <strong>Размер:</strong> {{ data['size'] }} м&#178;
            </div>
        </div>
        <div class="row p-2 mb-2 bg-light border">
            <div class="col">
                <strong>Количество:</strong> {{ data['quantity'] }} шт.
            </div>
        </div>
        <div class="row p-2 mb-2 bg-light border">
            <div class="col">
                <strong>Общая себестоимость:</strong>
            </div>
            <div class="col">
                {{ data['main_price'] }} &#8381;
            </div>
        </div>
        <div class="row p-2 mb-2 bg-light border">
            <div class="col">
                <strong>Общая стоимость продажи:</strong>
            </div>
            <div class="col">
                {{ data['main_sale_price'] }} &#8381;
            </div>
        </div>
        <div class="row p-2 mb-2 bg-light border">
            <div class="col-12 m-1 text-center">
                <strong>Расходные материалы</strong>
            </div>
            <div class="w-100"><hr></div>
            <div class="col">
                <strong>Материал:</strong> {{ data['material']['name'] }}
            </div>
            <div class="col">
                <strong>Расход:</strong> {{ data['material']['consumption'] }} м&#178;
            </div>
            {% if data['processing']['material'] %}
            <div class="w-100"><hr></div>
            <div class="col">
                <strong>Материал:</strong> {{ data['processing']['material'] }}
            </div>
            <div class="col">
                <strong>Расход:</strong> {{ data['processing']['consumption'] }} м
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}

