{% extends 'base.html' %}

{% block title %}
Калькулятор холста
{% endblock %}
{% block body %}
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Калькулятор холста</h2>
        </div>
        <div class=" h-100 d-flex justify-content-center align-items-center">
            <form class="needs-validation " action="" method="post">
                {{ form.hidden_tag() }}
                <div class="container d-grid gap-3">
                    <div class="row p-2 bg-light border">
                        <div class="col">
                            {{ form.material.label(class="form-label fs-5") }}
                        </div>
                        <div class="col">
                            {{ form.material(class='form-select fs-5') }}
                        </div>
                    </div>
                    <div class="row p-2 bg-light border">
                        <div class="col">
                            {{ form.processing.label(class="form-label fs-5") }}
                        </div>
                        <div class="col">
                            {{ form.processing(class='form-select fs-5') }}
                        </div>
                    </div>
                    <div class="row row-cols-2 p-2 bg-light border">
                        <div class="col-12 text-center">
                            <label class="form-label fs-5">Размеры холста</label>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-2 pt-2 pb-2">
                            {{ form.length.label(class="form-label fs-5") }}
                        </div>
                        <div class="col-8">
                            {{ form.length(class='form-control fs-5') }}
                        </div>
                        <div class="col-2">
                            <label class="fs-5"> мм. </label>
                        </div>
                        <div class="col-2 pt-2 pb-2">
                            {{ form.width.label(class="form-label fs-5") }}
                        </div>
                        <div class="col-8">
                            {{ form.width(class='form-control fs-5') }}
                        </div>
                        <div class="col-2">
                            <label class="fs-5"> мм. </label>
                        </div>
                    </div>
                    <div class="row row-cols-2 p-2 bg-light border">
                        <div class="col-2 pt-2 pb-2">
                            {{ form.quantity.label(class="form-label fs-5") }}
                        </div>
                        <div class="col-8">
                            {{ form.quantity(class='form-control fs-5') }}
                        </div>
                        <div class="col-2">
                            <label class="fs-5"> шт. </label>
                        </div>
                    </div>
                    {{ form.submit(class='btn btn-primary fs-5')}}
                </div>
            </form>
        </div>
    </main>
</div>

{% if data %}
<script>
    $(document).ready(function () {
        $("#staticBackdrop").modal('show');
    });
</script>
{% endif %}
{% endblock %}

{% block modal %}
{% if data %}
<div class="container">
    <div class="row p-2 mb-2 bg-light border">
        <div class="col-12 m-1 text-center">
            <strong>Материал:</strong> {{ data['material']['type'] }}
        </div>
        <div class="w-100">
            <hr>
        </div>
        <div class="col text-center">
            <strong>Себестоимость (шт.):</strong> {{ data['material']['price'] }} &#8381;
        </div>
        <div class="col text-center">
            <strong>Стоимость продажи (шт.):</strong> {{ data['material']['sale_price'] }} &#8381;
        </div>
    </div>
    <div class="row p-2 mb-2 bg-light border">
        <div class="col-12 m-1 text-center">
            <strong>Обработка:</strong> {{ data['processing']['type'] }}
        </div>
        <div class="w-100">
            <hr>
        </div>
        <div class="col text-center">
            <strong>Себестоимость (шт.):</strong> {{ data['processing']['price'] }} &#8381;
        </div>
        <div class="col text-center">
            <strong>Стоимость продажи (шт.):</strong> {{ data['processing']['sale_price'] }} &#8381;
        </div>
    </div>
    <div class="row p-2 mb-2 bg-light border">
        <div class="col text-center">
            <strong>Длина:</strong> {{ data['length'] }} мм;
        </div>
        <div class="col text-center">
            <strong>Ширина:</strong> {{ data['width'] }} мм;
        </div>
        <div class="col text-center">
            <strong>Размер:</strong> {{ data['size'] }} м&#178;
        </div>
    </div>
    <div class="row p-2 mb-2 bg-light border">
        <div class="col">
            <strong>Количество:</strong> {{ data['quantity'] }} шт.
        </div>
    </div>
    <div class="row p-2 mb-2 bg-light border">
        <div class="col">
            <strong>Общая себестоимость: </strong>
            {{ data['main_price'] }} &#8381;
        </div>
    </div>
    <div class="row p-2 mb-2 bg-light border">
        <div class="col">
            <strong>Общая стоимость продажи: </strong>
            {{ data['main_sale_price'] }} &#8381;
        </div>
    </div>
    <div class="row p-2 mb-2 bg-light border">
        <div class="col-12 m-1 text-center">
            <strong>Расходные материалы</strong>
        </div>
        <div class="w-100">
            <hr>
        </div>
        <div class="col">
            <strong>Материал:</strong> {{ data['material']['name'] }}
        </div>
        <div class="col">
            <strong>Расход:</strong> {{ data['material']['consumption'] }} м&#178;
        </div>
        {% if data['processing']['material'] %}
        <div class="w-100">
            <hr>
        </div>
        <div class="col">
            <strong>Материал:</strong> {{ data['processing']['material'] }}
        </div>
        <div class="col">
            <strong>Расход:</strong> {{ data['processing']['consumption'] }} м
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}