{% extends 'base.html' %}

{% block title %}
Калькулятор ростовой фигуры
{% endblock %}
{% block body %}
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Калькулятор ростовой фигуры</h2>
        </div>
        <div class=" h-100 d-flex justify-content-center align-items-center">
            <form class="needs-validation " action="" method="post">
                {{ form.hidden_tag() }}
                <div class="container d-grid gap-3">
                    <div class="row p-2 bg-light border">
                        <div class="col col-6 p-2">
                            {{ form.material.label(class="form-label fs-5") }}
                        </div>
                        <div class="col col-6 p-2">
                            {{ form.material(class='form-select fs-5') }}
                        </div>
                    </div>
                    <div class="row p-2 bg-light border" id="block_quality">
                        <div class="col col-6 p-2">
                            {{ form.skeleton.label(class="form-label fs-5") }}
                        </div>
                        <div class="col col-6 p-2">
                            {{ form.skeleton(class='form-select fs-5') }}
                        </div>
                        <div class="col col-6 p-2" id="type_metal_label">
                            {{ form.type_metal_sceleton.label(class="form-label fs-5") }}
                        </div>
                        <div class="col col-6 p-2" id="type_metal">
                            {{ form.type_metal_sceleton(class='form-select fs-5') }}
                        </div>
                        <div class="col col-6 p-2" id="type_pvh_label" hidden>
                            {{ form.type_pvh_sceleton.label(class="form-label fs-5") }}
                        </div>
                        <div class="col col-6 p-2" id="type_pvh" hidden>
                            {{ form.type_pvh_sceleton(class='form-select fs-5') }}
                        </div>
                    </div>
                    <div class="row p-2 bg-light border">
                        <div class="col col-6 p-2">
                            {{ form.place_operation.label(class="form-label fs-5") }}
                        </div>
                        <div class="col col-6 p-2" id="place_metal">
                            {{ form.place_operation(class='form-select fs-5') }}
                        </div>
                         <div class="col col-6 p-2" id="place_pvh" hidden>
                            <label class="form-control fs-5">Помещение</label>
                        </div>
                    </div>
                    <div class="row row-cols-2 p-2 bg-light border">
                        <div class="col-12 text-center">
                            <label class="form-label fs-5">Размеры</label>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-2 pt-2 pb-2">
                            {{ form.length.label(class="form-label fs-5") }}
                        </div>
                        <div class="col-8">
                            {{ form.length(class='form-control fs-5') }}
                        </div>
                        <div class="col-2">
                            <label class="fs-5"> мм. </label>
                        </div>
                        <div class="col-2 pt-2 pb-2">
                            {{ form.width.label(class="form-label fs-5") }}
                        </div>
                        <div class="col-8">
                            {{ form.width(class='form-control fs-5') }}
                        </div>
                        <div class="col-2">
                            <label class="fs-5"> мм. </label>
                        </div>
                    </div>
                    <div class="row row-cols-2 p-2 bg-light border">
                        <div class="col-2 pt-2 pb-2">
                            {{ form.quantity.label(class="form-label fs-5") }}
                        </div>
                        <div class="col-8">
                            {{ form.quantity(class='form-control fs-5') }}
                        </div>
                        <div class="col-2">
                            <label class="fs-5"> шт. </label>
                        </div>
                    </div>
                    {{ form.submit(class='btn btn-primary fs-5')}}
                </div>
            </form>
        </div>
    </main>
</div>

<!--Скрипт отображения или скрытия типа каркаса в зависимости от материала-->
<script>
    let skeleton = document.getElementById('skeleton')
    skeleton.onchange = function () {
        let value = skeleton.value;
        if (value === 'Металл') {
            document.getElementById("type_pvh_label").hidden = true;
            document.getElementById("type_pvh").hidden = true;
            document.getElementById("place_pvh").hidden = true;
            document.getElementById("type_metal_label").hidden = false;
            document.getElementById("type_metal").hidden = false;
            document.getElementById("place_metal").hidden = false;
        } else {
            document.getElementById("type_metal_label").hidden = true;
            document.getElementById("type_metal").hidden = true;
            document.getElementById("place_metal").hidden = true;
            document.getElementById("type_pvh_label").hidden = false;
            document.getElementById("type_pvh").hidden = false;
            document.getElementById("place_pvh").hidden = false;
        }
    }
</script>

{% if data %}
<script>
    $(document).ready(function () {
        $("#staticBackdrop").modal('show');
    });
</script>
{% endif %}
{% endblock %}
